@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Poppins:wght@500&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  background: linear-gradient(to right, #0091ea, #673ab7);
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.clock {
  font-size: 4rem; /* 1rem == 16px */
  text-shadow: 0.25rem 0.25rem 0.6rem rgba(255, 255, 255, .1);
  display: flex;
  gap: 1.5rem;
  text-align: center;
}

#seconds {
  min-width: 5.5rem;
}